/* Modern CSS Reset - circa 2024/2025 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* end reset browser styles */


:root{
  font-family: PTSans, Arial, sans-serif;
  font-size: 62.5%;
}

.main h1{
  color: rgb(249,212,120);
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: 4.21em;
}